# ------------------------------
# using bitwarden token
BITWARDEN_ENABLED=1
BITWARDEN_PROVIDER=bws
BWS_ACCESS_TOKEN="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
BWS_PROJECT_ID="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
BWS_REQUIRE_WRITE=1
# ------------------------------
# bitwarden keys
BWS_SECRET_KEY=SECRET_KEY
BWS_WEBHOOK_SECRET=WEBHOOK_SECRET
BWS_TELEGRAM_BOT_TOKEN=TELEGRAM_BOT_TOKEN
BWS_ADMIN_TELEGRAM_ID=ADMIN_TELEGRAM_ID

# ------------------------------
# Google Calendar (via Bitwarden)
BWS_GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
BWS_GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
BWS_GOOGLE_REDIRECT_URI=GOOGLE_REDIRECT_URI

# ------------------------------
# Instance role
INSTANCE_ROLE=primary
APP_URL=
